<!DOCTYPE html>
<html lang="en">
<head>
    <%= include head.html %>
    <title>Actuals</title>
</head>
<body>
    <%= include navbar.html %>

    <div class="container">
        <br><h1>Actuals</h1><br>

        <form action="">
            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <label for="project-code">Project Code: </label>
                    </div>
                    <div class="col-8">
                        <select name="project-code" id="project-code" class="form-control"></select>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>

        <br><br>

        <table class="table">
           <thead>
                <tr>
                    <th></th>
                    <th>Proposal Budget</th>
                    <th>Actuals to date</th>
                </tr>
           </thead>
           <tbody>
                <tr>
                    <th>SFIA Level 3</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>SFIA Level 4</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>SFIA Level 5</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>SFIA Level 6</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Expenses</th>
                    <td></td>
                    <td></td>
                </tr>
           </tbody>
        </table>
    </div>

</body>
</html>