<!DOCTYPE html>
<html lang="en">
<head>
    <%= include head.html %>
    <title>Proposals</title>
</head>
<body>
    <%= include navbar.html %>

    <div class="container">
        <br><h1>Monthly Update</h1><br>
        <form action="">
            <div class="form-group">
                <label for="proposal">Proposal:</label>
                <div class="row">
                    <div class="col-10">
                        <select class="form-control" id="proposal"></select>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </form>

        <form action=""></form>
    </div>
</body>
</html>