<nav class="navbar navbar-expand-sm bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer-information">Customer Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proposals">Proposals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/processes">Processes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monthly-update">Monthly Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/actuals">Actuals</a>
            </li>
        </ul>
    </div>
</nav>